In [1]:
#Import depencies

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import os as os

import pandas as pd 
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier

In [2]:
#  Import and read the cryto data 8/23/2021-8/22/2022.csv.
rawbtc_df = pd.read_csv("Resources/BTCUSD.csv")
rawdogeusd_df=pd.read_csv("Resources/DOGEUSD.csv")
raweth_df=pd.read_csv("Resources/ETHUSD.csv")
rawusdtusd_df=pd.read_csv("Resources/USDTUSD.csv")
rawxrpusd_df=pd.read_csv("Resources/XRPUSD.csv")

In [3]:
rawbtc_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-08-23,49291.675781,50482.078125,49074.605469,49546.148438,49546.148438,34305053719
1,2021-08-24,49562.347656,49878.769531,47687.117188,47706.117188,47706.117188,35361168834
2,2021-08-25,47727.257813,49202.878906,47163.613281,48960.789063,48960.789063,32646349931
3,2021-08-26,49002.640625,49347.582031,46405.781250,46942.218750,46942.218750,32666549568
4,2021-08-27,46894.554688,49112.785156,46394.281250,49058.667969,49058.667969,34511076995

In [4]:
rawdogeusd_df.head()

         Date      Open      High       Low     Close  Adj Close      Volume
0  2021-08-23  0.314926  0.328094  0.313368  0.317914   0.317914  2836628655
1  2021-08-24  0.318386  0.319757  0.277777  0.288739   0.288739  3143768703
2  2021-08-25  0.289218  0.296815  0.279995  0.292226   0.292226  2518743227
3  2021-08-26  0.292794  0.296002  0.265313  0.268909   0.268909  2410285454
4  2021-08-27  0.268819  0.294845  0.265392  0.294433   0.294433  2382150423

In [5]:
raweth_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-08-23,3241.357422,3373.384277,3235.851318,3319.257324,3319.257324,20511110509
1,2021-08-24,3324.855469,3358.688232,3154.121338,3172.456299,3172.456299,20131028906
2,2021-08-25,3174.269775,3248.727295,3086.114990,3224.915283,3224.915283,18902728235
3,2021-08-26,3228.747314,3249.655273,3060.228760,3100.325439,3100.325439,17405668117
4,2021-08-27,3096.406006,3281.840576,3064.485107,3270.600830,3270.600830,18489602004

In [6]:
rawusdtusd_df.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  2021-08-23  1.000872  1.001146  1.000033  1.000801   1.000801  78500144394
1  2021-08-24  1.000764  1.001119  0.999989  1.000263   1.000263  82298987461
2  2021-08-25  1.000429  1.000530  1.000062  1.000359   1.000359  78253794427
3  2021-08-26  1.000233  1.000711  1.000071  1.000430   1.000430  75138574324
4  2021-08-27  1.000399  1.001171  1.000119  1.000355   1.000355  77373122984

In [7]:
rawxrpusd_df.head()

         Date      Open      High       Low     Close  Adj Close      Volume
0  2021-08-23  1.226812  1.304220  1.222094  1.247270   1.247270  6299948689
1  2021-08-24  1.248148  1.263287  1.128158  1.137352   1.137352  6109699877
2  2021-08-25  1.137011  1.177530  1.109431  1.172529   1.172529  4735020572
3  2021-08-26  1.174588  1.186311  1.069905  1.075266   1.075266  4914724770
4  2021-08-27  1.073298  1.188473  1.052642  1.188473   1.188473  5062671613